<!DOCTYPE html>
<html>

<head>
    <title>CAR OWNER REVIEWS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/landing.css">
</head>

<body>

<div id="landing-header">
<a href="home.html" class="btn btn-lg btn-primary">Ride On!</a>
</div>

<ul class="slideshow">
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
</body>

</html>


