<% include ./partials/header.ejs %>

<body>

<div id="landing-header">
    <a href="/brands" class="btn btn-lg btn-primary">Ride On!</a>
</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<% include ./partials/footer.ejs %>


