<% include ../partials/header.ejs %>
<header class="jumbotron">
<div class="container">
    <h1><%brand.name%> <%= model.name %></h1>
    <form action= "/brands/<%= brand._id %>?_method=DELETE/models/" method="POST">
        <button class="btn btn-danger">Delete Current Model</button>
    </form>

    <a class="btn btn-primary" href="/brands/<%= brand._id %>/new">Add New Comment</a>
</div>
</header>

<% include ../partials/footer.ejs %>
