<% include ../partials/header.ejs %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to RateCar!</h1>
            <p>Select car brand you are interested in!</p>
            <a class="btn btn-primary" href="/brands/new">Add New Brand</a>
        </div>
    </header>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search brand" aria-label="Search brand" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>
    </div>
    

    <ul class="list-group">


    <% brands.forEach(brand => { %>
    <a href="/brands/<%= brand._id %>" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <%= brand.name %>
        <span class="badge badge-primary badge-pill"><%=brand.models.length%></span>
    </a>
    <% }); %>
    </ul>
</div>



<% include ../partials/footer.ejs %>