<% include ../partials/header.ejs %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h3>Please select car model you are interested in!</h3>
            <p> Lorem ipsum dolor amet microdosing polaroid sustainable, waistcoat chia knausgaard vexillologist post-ironic synth aesthetic mixtape irony fanny pack readymade. Bespoke 8-bit enamel pin iPhone tilde pork belly. Distillery 8-bit edison bulb locavore la croix, kickstarter normcore pabst waistcoat yr williamsburg austin narwhal. Pop-up stumptown 90's XOXO four loko, vinyl sartorial kinfolk humblebrag freegan street art ramps narwhal snackwave. Woke aesthetic banh mi try-hard yuccie church-key vexillologist shabby chic fixie etsy lo-fi jean shorts kickstarter.</p>
            <a class="btn btn-primary btn-block" href="/cars/new">Add New Model</a>
        </div>
    </header>
    <form class="input-group mb-3" action="/cars" method="GET">
        <input name="search" type="text" class="form-control" placeholder="Enter car brand or model" aria-label="Search model" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <input type="submit" class="btn btn-outline-secondary" value="Search">
        </div>
    </form>
    <ul class="list-group">
    <% cars.forEach(car => { %>
    <a href="/cars/<%= car._id %>" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span> <%= car.brand %> - <%= car.model %> </span>
        <span class="badge badge-primary badge-pill"><%= car.comments.length %></span>
    </a>
    <% }); %>
    </ul>

</div>

<% include ../partials/footer.ejs %>