<% include ../partials/header.ejs %>
<div class="container">
<h1 style="text-align : center;">Create new model for <%=brand.name%></h1>
<div style="width : 30%; margin : 25px auto;">
    <form action="/brands/<%= brand._id %>/models" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="name">
            <input class="form-control" type="text" name="description" placeholder="description">
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit!</button>
        </div>
    </form>
</div>
</div>
<% include ../partials/footer.ejs %>
