<% include ../partials/header.ejs %>
<header class="jumbotron">
<div class="container">
    <h1><%car.brand%> <%= car.model %></h1>
    <p><%=car.description %></p>
    <form action= "#" method="POST">
        <button class="btn btn-danger">Delete Current Model</button>
    </form>
    <a class="btn btn-primary" href="#">Add New Comment</a>
</div>
</header>

<% include ../partials/footer.ejs %>
